.dropdown-menu ul {
  float: left;
}

.dropdown-menu ul:first-of-type {
  border-right: 1px solid black;
  padding-right: 20px;
}
.userdropdown div {
  background-color: aqua;
  color: white;
  font-size: 20px;
  z-index: 100;
  font-weight: bold;
}
