.Navbar {
    width: 100%;
    height: 180px;
    background: #252E39;
    padding-top: 23px;
}

.containerNavbar {
    margin-left: 281px;
    display: flex;
    justify-content: space-between;
}
.leftNavbar {
    flex-basis: 77vh;
}
.leftNavbar p{
    position: relative;
    bottom:15px;
}


.rightNavbar {
    display: flex;
    width: 64vh;
    height: 163px;
    margin-left: 30vw;
    margin-top: 5vh;
}

.img1Div {
    flex-basis: 35vh;
    margin-top: 13px;
}
.img2Div {
    flex-basis: 20vh;
    margin-left: -145px;
}
.img1Div img,
.img2Div img{
    width:150px;
    height:100px;
    object-fit: contain;
}

.prime {
    color: #00a8e1;
    font-weight: 700;
    font-size: 25px;
    margin-top: 24.01px;
}
.video {
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
}

.amazonLogo {
    width: 64px;
    height: 16.3px;
    color: #00a8e1;
    margin-left: 15px;
}

.watchNow {
    font-weight: 600;
    font-size: 19px;
    color: #ffffff;
    margin-top: 24px;
}

.memberShip {
    font-weight: 300;
    font-size: 24px;
    color: white;
    /* margin-top: -18px; */
}

.info {
    margin-top: 24px;
    margin-left: 281px;
    width: 605px;
    height: 37px;
    font-size: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px 0px #00000040;
    /* margin-top: 55px; */
}
.info > span:nth-child(2) {
    color: black;
}
.i {
    height: 14px;
    width: 4px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #00a8e1;
    color: #00a8e1;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1.3vh;
    margin-right: 12px;
    margin-left: 17px;
}
.selectPay {
    margin-left: 281px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    width: 233px;
    margin-top: 54px;
}
.paymentOption {
    width: 543px;
    height: 174px;
    margin-left: 281px;
    margin-top: 11px;
    background: #ffffff;
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 4px 0px #00000040;
    font-family: 'Roboto',sans-serif;
}

.paymentOption > p:nth-child(1) {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 19px; */
    /* letter-spacing: 0em; */
    text-align: left;
    margin-left: 16px;
    margin-top: 17px;
    color: black;
    margin-bottom: 10px;
}

.paymentOption > hr {
    width: 504px;
    height: 0px;
    border: 1px solid rgba(196, 196, 196, 0.5);
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    margin-top: -2px;
}

.paymentOption > img:nth-child(4) {
    width: 12px;
    height: 12px;
    margin-left: 16px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0;
}

.paymentOption > span:nth-child(5) {
    margin-left: 8px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #263238;
    margin-top: 29px;
}

.paymentOption > span:nth-child(7) {
    margin-left: 34.81px;
    margin-top: 7px;
    font-size: 10px;
    color: #5ea1bd;
    transform: rotate(10.06deg);
}

.paymentOption > span:nth-child(8) {
    height: 12px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #999ea3;
}

.paymentOption > span:nth-child(9) {
    margin-left: 8px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #0f79af;
}

.atmCards {
    width: 300px;
    margin-left: 36px;
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
}

.atmCards > div {
    flex-basis: 21%;
}
.atmCards > div > img {
    width: 100%;
    object-fit: contain;
    height: 100px;
}

.continue {
    margin-left: 300px;
    margin-top:80px;
    width: 200px;
}

.continue > button {
    width: 100%;
    padding: 7%;
    background: #0f79af;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    border: none;
}

.PrimeMembership {
    margin-left: 282px;
    text-align: center;
    width: 224px;
    margin-bottom: 65px;
}

.PrimeMembership > p:nth-child(2) {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    align-items: center;
    color: #0f79af;
}

.PrimeMembership > p:nth-child(3) {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #263238;
}

.PrimeMembership > p:nth-child(4) {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #263238;
}
