.banner {
  height: 630px;
  position: relative;
  object-fit: contain;
  color: #fff;
  width: 100vw;
}
.banner__content {
  margin-left: 50px;
  padding-top: 240px;
  height: 200px;
}
.banner__description {
  width: 500px;
  line-height: 1.3;
  padding-top: 20px;
  font-size: 16px;
}
.banner__buttons button {
  cursor: pointer;
  color: #fff;
  outline: 0;
  border: 0;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: red;
  margin-right: 10px;
  margin-top: 10px;
}
.banner__buttons button:hover {
  background-color: #fff;
  color: #000;
}
.banner__fade {
  height: 150px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(27, 27, 27, 0.61),
    #111
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
