.row {
  color: #fff;
  background-color: #313552;
  margin-left: 0px;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  margin: 5px;
  height: 200px;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
  margin: 5px;
}
.rowposter {
  max-height: 100px;
  object-fit: contain;
  margin-left: 10px;
  width: 100%;
  cursor: pointer;
  transition: transform 450ms;
}
.rowposters:hover {
  transform: scale(1.5);
}
